{% extends "index.html" %}
{% load static %}
{% load sass_tags %}

{% block head %}
    <link href="{% sass_src 'sass/wide-content.sass' %}" rel="stylesheet" type="text/css"/>
{% endblock head %}

{% block title %}
    <h2>Клубы</h2>
{% endblock title %}


{% block content %}
    <p></p>
    <div class="row row-cols-auto justify-content-center">
    {% for club in clubs %}
        
    <div class="card mb-3 club card-deck">

        <div class="row no-gutters card-row">
            <div class="col-md-4">
                <img src="{{ club.logo.url }}" alt="..." class="mx-auto d-block club-logo">
                <div class="card-body text-center">
                    {% if club.vk %}
                        <a href="{{ club.vk }}" target="_blank">
                            <img src="{% static '/images/icon-vk.png' %}" alt="..." class="icon">
                        </a>
                    {% endif %}
                    {% if club.telegram %}
                        <a href="{{ club.telegram }}" target="_blank">
                            <img src="{% static '/images/icon-telegram.png' %}" alt="..." class="icon">      
                        </a>
                    {% endif %}
                    {% if club.ogs %}
                        <a href="{{ club.ogs }}" target="_blank">
                            <img src="{% static '/images/icon-ogs.png' %}" alt="..." class="icon">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{club.name}}</h5>
                    <p class="card-text">{{club.description}}</p>
                    <p class="card-text">{{club.contacts}}<small class="text-muted"></small></p>
                </div>
            </div>
        </div>
        
    </div>

    {% endfor %}
{% endblock content %}

{% block footer %}
    <li>{{ ПодвалСтраницы }}</li>
{% endblock footer %}
