{% extends 'index.html' %}

{% load static %}

{% block title %}
    <h2>Спортсмены</h2>
{% endblock title %}

{% block content %}
    <section class="feature">
        <table class="table table-hover table-curved">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Фамилия и имя</th>
                    <th scope="col" class="d-none d-sm-table-cell">Город</th>
                    <th scope="col">Ранг</th>
                    <th scope="col">Рейтинг</th>
                    <th scope="col" class="d-none d-md-table-cell">Турниры</th>
                    <th scope="col" class="d-none d-md-table-cell">Игры</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr class="rounded-pill">
                    <td scope="row">{{ forloop.counter }}</td>
                    <td><a href="https://gofederation.ru/players/{{ player.id }}">{{ player.name }}</a></td>
                    <td class="d-none d-sm-table-cell">{{player.city}}</td>
                    <td>{{player.rank}}</td>
                    <td>{{player.rating}}</td>
                    <td class="d-none d-md-table-cell">{{player.tournaments}}</td>
                    <td class="d-none d-md-table-cell">{{player.games}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}