{% extends 'index.html' %}

{% load static %}

{% block title %}
    <h2>Новости</h2>
{% endblock title %}

{% block content %}
    {% for post in posts %}
    <section class="feature">
        <header>
            <div class="news-header">
                <div><h2>{{ post.title }}</h2></div>
                <div><h2>{{ post.created }}</h2></div>
            </div>
        </header>
        <div class="image-wrapper ">
            <a class="image featured"><img class="img-fluid" src="{{ post.image.url }}" alt="" /></a>
        </div>
        <p class="news-text">{{ post.description }}</p>
    </section>
    {% endfor %}
{% endblock content %}

{% block footer %}
    <li>{{ ПодвалСтраницы }}</li>
{% endblock footer %}
