{% extends 'index.html' %}

{% load static %}

{% block title %}
    <h2>Здесь должен быть какой-то заголовок
    <br />
    я пока не придумал</h2>
{% endblock title %}

{% block subtitle %}
    <p>И ещё может быть
    <br />
    подзаголовок</p>
{% endblock subtitle %}

{% block content %}
    {% for post in posts %}
    <section class="feature">
        <header>
            <div class="news-header">
                <div><h2>{{ post.title }}</h2></div>
                <div><h2>{{ post.created }}</h2></div>
            </div>
        </header>
        <div class="image-wrapper first">
            <a class="image featured first"><img src="{{ post.image.url }}" alt="" /></a>
        </div>
        <p class="news-text">{{ post.description }}</p>
    </section>
    {% endfor %}
{% endblock content %}