{% extends "index.html" %}
{% load static %}

{% block title %}
    <img class="main-logo" src="{% static 'images/main-logo.png' %}">
    <h2>Об отделении</h2>
{% endblock title %}

{% block content %}
    <section class="feature">
        <header class="about-header">
            <h2>{{ ЗаголовокСтраницыОбОтделении|safe }}</h2>
        </header>
        <div>
            <p class="about-text">{{ ТекстСтраницыОбОтделении|safe }}</p>
        </div>
    </section>
{% endblock content %}

{% block footer %}
    <li>{{ ПодвалСтраницы }}</li>
{% endblock footer %}