{% load sass_tags %}
{% load static %}
<!DOCTYPE HTML>
<html lang="ru">
	<head>
		{% load bootstrap5 %}
		{% bootstrap_css %}
		<meta charset="UTF-8">
    	<title>Линия Жизни</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="{% sass_src 'sass/main.sass' %}" rel="stylesheet" type="text/css"/>
		{% block head %}
		{% endblock head %}
	</head>
	<body class="homepage is-preload">
		
		<div id="page-wrapper">
			<!-- Header -->
				<div id="header-wrapper">
					<div  class="container">
						<nav class="navbar navbar-expand-md navvbar-light">
							<div class="d-none d-lg-block">
								<img class="main-logo" src="{% static 'images/main-logo.png' %}">
							</div>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mr-auto w-100 justify-content-center">
								<li class="nav-item"><a class="nav-link nav-white" href="/news">Новости</a></li>
								<li class="nav-item"><a class="nav-link nav-white" href="/players">Спортсмены</a></li>
								<li class="nav-item"><a class="nav-link nav-white" href="/tournaments">Турниры</a></li>
								<li class="nav-item"><a class="nav-link nav-white" href="/clubs">Клубы</a></li>
								<li class="nav-item"><a class="nav-link nav-white" href="/about">Об&nbspотделении</a></li>
							</div>
						</nav>
					
					<!-- Hero -->
						<section id="hero" class="container">
							<header>
								{% block title %}
								{% endblock title %}
							</header>
							{% block subtitle %}
							{% endblock subtitle %}
						</section>
					</div>
				</div>
			<!-- Features 1 -->
				<div class="wrapper">
					<div class="container">
						{% block content %}
						{% endblock content %}
					</div>
				</div>
			<!-- Footer -->
				<div class="container">
					<div id="copyright" class="container">
						<ul class="menu">
							{% block footer %}
							{% endblock footer %}
						</ul>
					</div>
				</div>
		</div>
		<!-- Scripts -->
			{% comment %} <script src="{% static 'assets/js/main.js' %}"></script> {% endcomment %}
	</body>
</html>
